body{
    margin:auto;
    display: flex;
    background-color: rgb(255, 134, 215);
    align-content: center;
}

.stage{
    /* display: flex; */
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: bisque;
    /* align-items: center;
    justify-content: center; */
}

.fixed{
    position: absolute;
    transform-origin: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: auto;
    background-color: bisque;
}

.tv{
    background-color: ;
    transform-origin: center;
    position: absolute;
    height: auto;
    width: auto;
    top: 20%;
    left:27%;
    margin: auto;
    transition: 2s;
}

.file{
    background-color: ;
    transform-origin: center;
    position: absolute;
    height: auto;
    width: auto;
    top: 38%;
    left:47%;
    margin: auto;
    transition: 2s;
}

.assistant{
    background-color: ;
    transform-origin: center;
    position: absolute;
    height: auto;
    width: auto;
    top: 35%;
    left:57%;
    margin: auto;
    transition: 2s;
}

.ipad{
    background-color: ;
    transform-origin: center;
    position: absolute;
    height: auto;
    width: auto;
    top: 48%;
    left:54%;
    margin: auto;
    transition: 2s;
}

/* .drawer_left{
    background-color: ;
    transform-origin: center;
    position: absolute;
    height: auto;
    width: auto;
    top: 40.5%;
    left:26.3%;
    margin: auto;
    transition: 2s;
} */
.assistant:hover{
    animation: aura 1000s infinite alternate-reverse;
    /* box-shadow: 1px 1px 200px hsl(180, 99%, 50%); */
    /* box-shadow: 1px 1px 600px hsl(120, 100%, 50%); */
}

.tv:hover{
    animation: aura 1000s infinite alternate-reverse;
    /* box-shadow: 1px 1px 200px hsl(180, 99%, 50%); */
    /* box-shadow: 1px 1px 600px hsl(120, 100%, 50%); */
}

.file:hover{
    animation: aura 1000s infinite alternate-reverse;
    /* box-shadow: 1px 1px 200px hsl(180, 99%, 50%); */
    /* box-shadow: 1px 1px 600px hsl(120, 100%, 50%); */
}

.ipad:hover{
    animation: aura 1000s infinite alternate-reverse;
    /* box-shadow: 1px 1px 200px hsl(180, 99%, 50%); */
    /* box-shadow: 1px 1px 600px hsl(120, 100%, 50%); */
}
@keyframes aura{
    from{
        transform:scale(1,1);
    }
    to{
        transform:scale(1.5,1.5);
    }
}
