body{
    margin:auto;
    display: flex;
    background-color: rgb(255, 134, 215);
    align-content: center;
}

.stage{
    /* display: flex; */
    top: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 75%;
    background-color: bisque;
    /* align-items: center;
    justify-content: center; */
}

.fixed{
    position: fixed;
    transform-origin: center;
    top: 0;
    left: 0;
    padding: auto;
    background-color: bisque;
}

.assistant{
    transform-origin: center;
    background-color: azure;
    position: absolute;
    top: 40%;
    left: 50%;
}

.assistant:hover{
    /* animation: aura 1000s infinite alternate-reverse; */
}

@keyframes aura{
    from{
        transform:scale(1,1);
    }
    to{
        transform:scale(1.5,1.5);
    }
}