@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");
body {
  margin: auto;
  display: flex;
  background-image: url("Game_cover.jpg");
  background-color: rgb(253, 228, 174);
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.interface {
  display: flex;
  margin: auto;
  width: 90%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform-origin: center;
  background-color: rgb(224, 200, 147);
  border: 5px solid rgb(75, 74, 74);
  border-radius: 1em;
  box-shadow: inset 0px 0px 30px rgb(180, 161, 119);
  transform: translate(-50%, -50%);
  position: fixed;
}

.help {
  color: rgb(0, 0, 0);
  top: 50px;
  left: 3vw;
  width: 6vh;
  height: 6vh;
  font-size: 30px;
  font-weight: bold;
  font-family: "Mali", cursive;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  animation: aura-help 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate
    infinite backwards;
  transition: all 100ms;
}
.help:hover{
  color: rgb(15, 153, 107);
  transform: scale(1.2);
}
.link {
  color: black;
  top: 150px;
  left: 3vw;
  width: 6vh;
  height: 6vh;
  font-size: 13px;
  font-weight: bold;
  font-family: "Mali", cursive;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  animation: aura-help 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate
    infinite backwards;
  transition: all 100ms;
}
.link:hover{
  color: rgb(15, 153, 107);
  transform: scale(1.2);
}

.cutscene {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.603);
  z-index: 1;
  animation: fade 11s forwards;
}

.text {
  font-family: "Mali", cursive;
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 7vw;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.stage {
  background-image: url("item_picture/newState.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  transform: translate(50%, 50%);
}

.endtxt {
  color: crimson;
  font-family: "Mali", cursive;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 6vw;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  white-space: nowrap;
  font-weight: bold;
  transform: translate(-50%, -50%);
  animation: fadere 4s 15s backwards;
}
.endtxt1 {
  color: rgb(34, 192, 47);
  font-family: "Mali", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4vw;
  white-space: nowrap;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  font-weight: bold;
  transform: translate(-50%, -50%);
  animation: fadere 4s 16s backwards;
}
.endtxt2 {
  letter-spacing: 0;
  color: rgb(230, 194, 38);
  font-family: "Mali", cursive;
  position: absolute;
  top: 42%;
  left: 50%;
  font-size: 3vw;
  white-space: nowrap;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  font-weight: bold;
  transform: translate(-50%, -50%);
  animation: fadere 4s 15s backwards;
  z-index: 999;
  transition: all 500ms;
}
.endtxt2:hover{
  cursor: pointer;
  font-size: 3.5vw;
  letter-spacing: 10px;
}
.endtxt3 {
  letter-spacing: 0;
  color: rgb(51, 255, 0);
  font-family: "Mali", cursive;
  position: absolute;
  top: 58%;
  left: 50%;
  font-size: 3vw;
  white-space: nowrap;
  text-shadow:
     3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  font-weight: bold;
  transform: translate(-50%, -50%);
  animation: fadere 4s 15s backwards;
  z-index: 999;
  transition: all 500ms;
}
.endtxt3:hover{
  cursor: pointer;
  font-size: 3.5vw;
  letter-spacing: 10px;
}
.tomato{
  margin-top: 32rem;
  margin-left: 12rem;
  transform: scale(0.5);
  position: relative;
  animation: aura-menu 500ms cubic-bezier(0.23, 1, 0.320, 1) infinite alternate-reverse,
  fadere 4s 15s backwards;
  transition: all 100ms;
}
.tomato:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.president {
  width: 17vw;
  position: fixed;
  top: 27vh;
  left: 39vw;
}

.assistant {
  width: 9vw;
  position: fixed;
  top: 26.5vh;
  left: 53.75vw;
}

.book {
  width: 6.5vw;
  position: fixed;
  top: 35vh;
  left: 40.5vw;
}

.chair {
  width: 12vw;
  position: fixed;
  top: 43vh;
  left: 33vw;
}

.clock {
  width: 5.5vw;
  position: fixed;
  top: 11vh;
  left: 34.5vw;
}

.phone {
  width: 2.5vw;
  position: fixed;
  top: 46vh;
  left: 49vw;
}

.table {
  width: 14.5vw;
  position: fixed;
  top: 36.5vh;
  left: 19vw;
}

.tv {
  width: 11vw;
  position: fixed;
  top: 19.5vh;
  left: 18vw;
}

@media screen and (max-height: 1000px){
  .phone {
    top: 48vh;
  }
}
@media screen and (max-width: 1024px) {
  .president {
    width: 35vw;
    top: 28vh;
    left: 37vw;
  }

  .assistant {
    width: 18vw;
    top: 31vh;
    left: 65vw;
  }

  .book {
    width: 12vw;
    top: 36vh;
    left: 40vw;
  }

  .chair {
    width: 24vw;
    top: 43vh;
    left: 26vw;
  }

  .clock {
    width: 10vw;
    top: 10vh;
    left: 28vw;
  }

  .phone {
    width: 5vw;
    top: 49%;
    left: 57vw;
  }

  .table {
    width: 29vw;
    top: 35vh;
    left: 0;
  }

  .tv {
    width: 22vw;
    top: 15vh;
    left: 0;
  }
}

@media screen and (max-width: 450px) {
  .stage {
    top: -10vh;
    height: 60vh;
  }
  .help {
    top: -15vh;
  }
  .president {
    width: 35%;
    top: 32%;
    left: 38vw;
  }

  .assistant {
    width: 21%;
    top: 30%;
    left: 63vw;
  }

  .book {
    width: 14%;
    top: 39%;
    left: 40.5vw;
  }

  .chair {
    width: 25%;
    top: 46%;
    left: 27.5vw;
  }

  .clock {
    width: 12.5%;
    top: 11%;
    left: 25.5vw;
  }

  .phone {
    width: 7%;
    top: 27.5vh;
    left: 55vw;
  }

  .table {
    width: 32%;
    top: 40%;
    left: 0;
  }

  .tv {
    width: 26%;
    top: 16%;
    left: 0;
  }
}

@media screen and (max-height: 736px) {
  .phone {
    top: 49%;
  }
}

.fix:hover {
  cursor: pointer;
  transform: scale(1.15, 1.15);
}

.test {
  transition: all 0.3s;
  cursor: pointer;
  animation: via 1s linear infinite;
}
.test:hover {
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  transform: scale(1.05);
  animation-play-state: paused;
}

@keyframes via {
  50% {
    transform: translateY(-0.5vh);
  }
}

.pho {
  transition: all 0.3s;
  cursor: pointer;
  animation: via2 1s linear infinite;
}
.pho:hover {
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  transform: scale(1.2);
}

@keyframes via2 {
  50% {
    transform: scale(1.2);
  }
}

.item-1,
.item-2,
.item-3,
.dbox {
  font-family: "Mali", cursive;
  position: absolute;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 2em;
  z-index: 99;
}
.box {
  width: 50%;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 30px;
  padding: 50px 15px;
  background-color: #ced7ef;
  vertical-align: middle;
  border-radius: 2em;
  box-shadow: 20px 10px;
  display: flex;
  top:40%;
  text-align:center center;
  justify-content: center;
}
.dbox{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  top:20%;
  opacity: 60%;
  width: 60%;
  height: 60%;
  animation:fadere1 4s 15s backwards,aura-ss 500ms 15s cubic-bezier(0.23, 1, 0.320, 1) infinite alternate;
}
.item-1 {
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}

.item-2 {
  animation-name: anim;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  opacity: 0;
}

.item-3 {
  animation-name: anim;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 11s;
  opacity: 0;
}

@keyframes anim {
  0%
  {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes aura-menu {
  from {
    filter: drop-shadow(0px 0px 0px rgb(188, 190, 12));
  }
  to {
    filter: drop-shadow(0px 0px 20px rgb(188, 190, 12));
  }
}

@keyframes aura-help {
  from {
    box-shadow: 0px 0px 0px;
  }
  to {
    box-shadow: 0px 0px 15px rgb(129, 63, 1);
  }
}
@keyframes aura-ss {
  from {
    text-shadow: 0px 0px 0px;
  }
  to {
    text-shadow: 0px 0px 15px black;
  }
}
@keyframes fade {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 0%;
    z-index: 1;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}
@keyframes fadere {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 15%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  99% {
    opacity: 100%;
    z-index: 1;
  }
  100% {
    opacity: 100%;
    z-index: -1;
  }
}
@keyframes fadere1 {
  0% {
    opacity: 0%;
  }
  100% {
    z-index: -1;
    opacity: 60%;
  }
}
#qid {
  padding: 10px 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px;
}

label.btn {
  padding: 18px 60px;
  white-space: normal;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

label.btn:hover {
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

label.btn-block {
  text-align: left;
  position: relative;
}

label .btn-label {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.15);
  height: 100%;
}

label .glyphicon {
  top: 34%;
}

.element-animation1 {
  animation: animationFrames ease 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

.element-animation2 {
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

.element-animation3 {
  animation: animationFrames ease 1.2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease 1.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease 1.2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

.element-animation4 {
  animation: animationFrames ease 1.4s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease 1.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease 1.4s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }

  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }

  80% {
    transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }

  80% {
    -webkit-transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity: 0;
    -ms-transform: translate(-1500px, 0px);
  }

  60% {
    opacity: 1;
    -ms-transform: translate(30px, 0px);
  }
  80% {
    -ms-transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px);
  }
}

.modal-header {
  background-color: transparent;
  color: inherit;
}

.modal-body {
  min-height: 205px;
}

#loadbar {
  position: absolute;
  width: 62px;
  height: 77px;
  top: 2em;
}

.blockG {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 24px;
  -moz-border-radius: 8px 8px 0 0;
  -moz-transform: scale(0.4);
  -moz-animation-name: fadeG;
  -moz-animation-duration: 0.8800000000000001s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 8px 8px 0 0;
  -webkit-transform: scale(0.4);
  -webkit-animation-name: fadeG;
  -webkit-animation-duration: 0.8800000000000001s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 8px 8px 0 0;
  -ms-transform: scale(0.4);
  -ms-animation-name: fadeG;
  -ms-animation-duration: 0.8800000000000001s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 8px 8px 0 0;
  -o-transform: scale(0.4);
  -o-animation-name: fadeG;
  -o-animation-duration: 0.8800000000000001s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 8px 8px 0 0;
  transform: scale(0.4);
  animation-name: fadeG;
  animation-duration: 0.8800000000000001s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

#rotateG_01 {
  left: 0;
  top: 28px;
  -moz-animation-delay: 0.33s;
  -moz-transform: rotate(-90deg);
  -webkit-animation-delay: 0.33s;
  -webkit-transform: rotate(-90deg);
  -ms-animation-delay: 0.33s;
  -ms-transform: rotate(-90deg);
  -o-animation-delay: 0.33s;
  -o-transform: rotate(-90deg);
  animation-delay: 0.33s;
  transform: rotate(-90deg);
}

#rotateG_02 {
  left: 8px;
  top: 10px;
  -moz-animation-delay: 0.44000000000000006s;
  -moz-transform: rotate(-45deg);
  -webkit-animation-delay: 0.44000000000000006s;
  -webkit-transform: rotate(-45deg);
  -ms-animation-delay: 0.44000000000000006s;
  -ms-transform: rotate(-45deg);
  -o-animation-delay: 0.44000000000000006s;
  -o-transform: rotate(-45deg);
  animation-delay: 0.44000000000000006s;
  transform: rotate(-45deg);
}

#rotateG_03 {
  left: 26px;
  top: 3px;
  -moz-animation-delay: 0.55s;
  -moz-transform: rotate(0deg);
  -webkit-animation-delay: 0.55s;
  -webkit-transform: rotate(0deg);
  -ms-animation-delay: 0.55s;
  -ms-transform: rotate(0deg);
  -o-animation-delay: 0.55s;
  -o-transform: rotate(0deg);
  animation-delay: 0.55s;
  transform: rotate(0deg);
}

#rotateG_04 {
  right: 8px;
  top: 10px;
  -moz-animation-delay: 0.66s;
  -moz-transform: rotate(45deg);
  -webkit-animation-delay: 0.66s;
  -webkit-transform: rotate(45deg);
  -ms-animation-delay: 0.66s;
  -ms-transform: rotate(45deg);
  -o-animation-delay: 0.66s;
  -o-transform: rotate(45deg);
  animation-delay: 0.66s;
  transform: rotate(45deg);
}

#rotateG_05 {
  right: 0;
  top: 28px;
  -moz-animation-delay: 0.7700000000000001s;
  -moz-transform: rotate(90deg);
  -webkit-animation-delay: 0.7700000000000001s;
  -webkit-transform: rotate(90deg);
  -ms-animation-delay: 0.7700000000000001s;
  -ms-transform: rotate(90deg);
  -o-animation-delay: 0.7700000000000001s;
  -o-transform: rotate(90deg);
  animation-delay: 0.7700000000000001s;
  transform: rotate(90deg);
}

#rotateG_06 {
  right: 8px;
  bottom: 7px;
  -moz-animation-delay: 0.8800000000000001s;
  -moz-transform: rotate(135deg);
  -webkit-animation-delay: 0.8800000000000001s;
  -webkit-transform: rotate(135deg);
  -ms-animation-delay: 0.8800000000000001s;
  -ms-transform: rotate(135deg);
  -o-animation-delay: 0.8800000000000001s;
  -o-transform: rotate(135deg);
  animation-delay: 0.8800000000000001s;
  transform: rotate(135deg);
}

#rotateG_07 {
  bottom: 0;
  left: 26px;
  -moz-animation-delay: 0.99s;
  -moz-transform: rotate(180deg);
  -webkit-animation-delay: 0.99s;
  -webkit-transform: rotate(180deg);
  -ms-animation-delay: 0.99s;
  -ms-transform: rotate(180deg);
  -o-animation-delay: 0.99s;
  -o-transform: rotate(180deg);
  animation-delay: 0.99s;
  transform: rotate(180deg);
}

#rotateG_08 {
  left: 8px;
  bottom: 7px;
  -moz-animation-delay: 1.1s;
  -moz-transform: rotate(-135deg);
  -webkit-animation-delay: 1.1s;
  -webkit-transform: rotate(-135deg);
  -ms-animation-delay: 1.1s;
  -ms-transform: rotate(-135deg);
  -o-animation-delay: 1.1s;
  -o-transform: rotate(-135deg);
  animation-delay: 1.1s;
  transform: rotate(-135deg);
}

@-moz-keyframes fadeG {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #fff;
  }
}

@-webkit-keyframes fadeG {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #fff;
  }
}

@-ms-keyframes fadeG {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #fff;
  }
}

@-o-keyframes fadeG {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes fadeG {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #fff;
  }
}

.swal2-radio {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  margin: 1em 4em;
}

.swal2-radio label {
  margin: 0.2em 0.6em;
  font-size: 1.125em;
  padding: 0.5em 0;
  border: 0.1em solid #a4a4a4;
  border-radius: 5px;
}

.swal2-actions {
  margin: 0;
}

.swal2-styled.swal2-confirm {
  background-color: #ea5455;
}

.color {
  background: #ea5455;
  color: #fff;
}
