body{
    margin:auto;
    display: flex;
    background-color: rgb(245, 218, 159);
    justify-content: center;
    align-content: center;
}

#action{
    /* background-color: greenyellow; //show area item */
    transition: 250ms;
}

.stage{
    /* display: flex; */
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    /* align-items: center;
    justify-content: center; */
}

.fixed{
    margin: auto;
    position: absolute;
    transform-origin: center;
    width: 100%;
    height: auto;
}

.assistant{
    width: 11.5%;
    height: auto;
    position: absolute;
    top: 34%;
    left: 59.5%;
}

.book{
    width: 7%;
    height: auto;
    position: absolute;
    top: 37%;
    left: 46.75%;
}

.clock{
    width: 5.75%;
    height: auto;
    position: absolute;
    top: 14.75%;
    left: 38%;
}

.phone{
    width: 3%;
    height: auto;
    position: absolute;
    top: 51.25%;
    left: 55.25%;
}

.table{
    width: 15%;
    height: auto;
    position: absolute;
    top: 36.5%;
    left: 26%;
}

.tv{
    width: 10%;
    height: auto;
    position: absolute;
    top: 18.5%;
    left: 26%;
}

#action:hover{
    transform: scale(1.15, 1.15);
}