body{
    margin:auto;
    display: flex;
    background-color: rgb(245, 218, 159);
    justify-content: center;
    align-content: center;
}

#action{
    /* background-color: greenyellow; //show area item */
    transition: 250ms;
}

.stage{
    top: 0;
    left: 0;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.fixed{
    margin: auto;
    position: fixed;
    transform-origin: center;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.assistant{
    width: 11.5%;
    height: auto;
    position: absolute;
    top: 34%;
    left: 59.5%;
}

.book{
    width: 7%;
    height: auto;
    position: absolute;
    top: 36.5%;
    left: 46.75%;
}

.clock{
    width: 5.75%;
    height: auto;
    position: absolute;
    top: 13%;
    left: 40%;
}

.phone{
    width: 3%;
    height: auto;
    position: absolute;
    top: 48.25%;
    left: 55.25%;
}

.table{
    width: 15%;
    height: auto;
    position: absolute;
    top: 36.5%;
    left: 26%;
}

.tv{
    width: 10%;
    height: auto;
    position: absolute;
    top: 18.5%;
    left: 26%;
}

#action:hover{
    cursor: pointer;
    transform: scale(1.15, 1.15);
}
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  
  width: 60%;
  
  font-size: 2em;
    background-color: aqua;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
    z-index: 99;
}
.box {
    width: 50%;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 30px;
    padding: 50px 15px;
    background-color: #ced7ef;
    vertical-align: middle;
    border-radius: 2em;
    box-shadow: 20px 10px;
  }
.item-1{
	animation-name: anim-1;
    animation-iteration-count: 1;
    opacity: 0;
}

.item-2{
	animation-name: anim-2;
    animation-iteration-count: 1;
    opacity: 0;
}

.item-3{
	animation-name: anim-3;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}