body{
    margin:auto;
    display: flex;
    background-color: rgb(255, 134, 215);
    justify-content: center;
    align-content: center;
}

img#action{
    /* background-color: greenyellow; //show area item*/
    transition: 1s;
}

.stage{
    /* display: flex; */
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: bisque;
    /* align-items: center;
    justify-content: center; */
}

.fixed{
    position: absolute;
    transform-origin: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: auto;
    background-color: bisque;
}

.assistant{
    margin-right: 14px;
    display: block;
    float: left;
    transform-origin: center;
    position: absolute;
    top: 30%;
    left: 60%;
}

.bin{
    margin-right: 14px;
    display: block;
    float: left;
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
}

.book{
    margin-right: 14px;
    display: block;
    float: left;
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
}

.clock{
    margin-right: 14px;
    display: block;
    float: left;
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
}

.phone{
    margin-right: 14px;
    display: block;
    float: left;
    transform-origin: center;
    position: absolute;
    top: 40%;
    left: 50%;
}

.table{
    margin-right: 14px;
    display: block;
    float: left;
    transform-origin: center;
    position: absolute;
    top: 35%;
    left: 26%;
}

.tv{
    margin-right: 14px;
    display: block;
    float: left;
    transform-origin: center;
    position: absolute;
    top: 18%;
    left: 26%;
}

#action:hover{
    transform: scale(1.2, 1.2);
}